    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    body {
   	background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
  	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      	transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      	transform-style: preserve-3d;
    }
    body * {
      transform-style: preserve-3d;
    }
    .gwd-p-1l8f {
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      position: relative;
    }
    .rightText {
      float: right;
      font-size: 17px;
    }
    .leftText {
      float: left;
      font-size: 17px;
      width: 50px;
      height: 40px;
    }
    #nav {
      background-color: rgb(51, 74, 148);
      height: 300px;
      width: 150px;
      padding: 5px;
      position: absolute;
      top: 100%;
    }
    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      width: 100%;
      background-color: rgb(51, 74, 148);
    }
    li {
      position: relative;
    }
    li a {
      font-family: Calibri;
      font-size: 14pt;
      display: block;
      color: rgb(255, 255, 255);
      padding: 8px 0px 8px 16px;
      text-decoration: none;
    }
    li a:visited {
      background-color: rgb(76, 175, 80);
      color: rgb(255, 255, 255);
    }
    li:hover > a {
      background-color: rgb(120, 110, 212);
      color: rgb(0, 0, 0);
    }
    ul ul{
  position:absolute;
  left:0%;
  top:0;
  width:100%;
  visibility:hidden;
  opacity:0;
  transition: transform 0.2s;
  transform: translateX(50px);
}

    li:hover > ul {
  left:100%;
  visibility:visible;
  opacity:1;
  transform: translateX(0px);
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  top: 0;
  width:100%;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

font-weight: 800;
  text-decoration: none;
}