    html, body {
      width: 100%;
      height: 100%;
      margin: 0px;
    }
    body {
   	background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
  	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      	transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      	transform-style: preserve-3d;
    }
    body * {
      transform-style: preserve-3d;
    }
    .gwd-p-1l8f {
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      position: relative;
    }
    .setupTemplateTitle {
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      position:absolute;
      top: 0px;
    }
    .setupQuestionTitle {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      position:absolute;
      top: 0px;
    }
    .rowUserCountText {
      float: left;
      font-size: 17px;
      position: absolute;
      top: 0px;
    }
    .rowCountText {
      float: right;
      font-size: 17px;
      position: absolute;
      top: 50px;
    }
    .rightText {
      float: right;
      font-size: 17px;
    }
    .leftText {
      float: left;
      font-size: 17px;
      width: 50px;
      height: 40px;
    }
    .grid-template {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }

    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 40px;
    }
    .inputData {
      background-color: lightblue;
      width: 400px;
      height: 300px;
      padding: 10px;
    }
    .inputCustomerData {
      background-color: lightblue;
      width: 1200px;
      height: 700px;
      padding: 10px;
    }
    .inputProgram {
      position:absolute;
      top: 30px;
    }
    .startProgram {
      position: absolute;
      top: 20px;
    }
    .startPreview {
      position: absolute;
      top: 0px;
    }
    .addSignUpData {
      background-color: ocean;
      position: absolute;
      width: 500px;
      top: 0px;
      left: 690px;
      Border: 3px solid #73AD21;
    }
    .addTemplateUserData {
      background-color: ocean;
      position: absolute;
      width: 500px;
      top: 0px;
      left: 690px;
      Border: 3px solid #73AD21;
    }
    .addTemplateData {
      background-color: dodgerblue;
      position: absolute;
      width: 1183px;
      height:350px;
      top: 350px;
      Border: 3px solid #73AD21;
    }
    .addTemplateSetup {
      background-color: transparent;
      position: absolute;
      width: 1183px;
      height:300px;
      top: 350px;

    }
    .addCustomerData {
      background-color: dodgerblue;
      position: absolute;
      width: 1183px;
      top: 400px;
      Border: 3px solid #73AD21;
    }
   .addCustomerData2 {
      background-color: dodgerblue;
      position: absolute;
      width: 1183px;
      height: 350px;
      top: 100px;
      left: 200px;
      Border: 3px solid #73AD21;
    }
    .showCustomerData {
      background-color: sky;
      position: absolute;
      width: 1183px;
      height: 300px;
      top: 100px;
      display: table-header-group;
      Border: 3px solid #73AD21;
    }
    .showTemplateData {
      background-color: sky;
      position: absolute;
      width: 1183px;
      height: 250px;
      top: 100px;
      display: table-header-group;
      Border: 3px solid #73AD21;
    }
    .showQuestionData {
      background-color: sky;
      position: absolute;
      width: 1183px;
      height: 250px;
      top: 100px;
      display: table-header-group;
      Border: 3px solid #73AD21;
    }
    .cancelUserButton {background-color: #f44336;
      margin: 8px 0;
      Padding: 5px;
      right: 10px;
      position: absolute;
      top: 0px;
    } /* Red */ 
    .cancelButton {background-color: #f44336;
      Padding: 5px;
    } /* Red */ 
    .activateButton {background-color: #008000;
      Padding: 5px;
    } /* Red */ 
    .showCustomerData ul {
  	list-style-type: none;
    }

    .showCustomerData li:nth-child(odd) {
  	background-color: #efefef;
    }

    .showCustomerData li:nth-child(even) {
  	background-color: #e7e7e7;
    }
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #2196F3;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
table {
  font-family: arial, sans-serif;
  font-size: small;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  height: 300px;
  display: block;
  overflow: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  width: 215px;
}
td.colD {
  border: 1px solid #dddddd;
  text-align: left;
  width: 60px;
}
th.colD {
  border: 1px solid #dddddd;
  text-align: left;
  width: 60px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

thead>tr {
  background-color: #dddddd;
  display: block;
  position: relative;
}

tbody {
  display: block;
  width: 100%;
  height: 250px;
  overflow: auto;
}

    #nav {
      background-color: rgb(51, 74, 148);
      height: 350px;
      width: 150px;
      padding: 5px;
    }
    ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      width: 75%;
      background-color: rgb(51, 74, 148);
    }
    li {
      position: relative;
      z-index: 99;
    }
    li a {
      font-family: Calibri;
      font-size: 14pt;
      display: block;
      color: rgb(255, 255, 255);
      padding: 8px 0px 8px 16px;
      text-decoration: none;
    }
    li a:visited {
      background-color: rgb(76, 175, 80);
      color: rgb(255, 255, 255);
    }
    li:hover > a {
      background-color: rgb(120, 110, 212);
      color: rgb(0, 0, 0);
    }
    ul ul{
  position:absolute;
  left:0%;
  top:0;
  width:100%;
  visibility:hidden;
  opacity:0;
  transition: transform 0.2s;
  transform: translateX(50px);
}

    li:hover > ul {
  left:75%;
  visibility:visible;
  opacity:1;
  transform: translateX(0px);
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  top: 0;
  width:100%;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}